root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true

[*.cs]
indent_size = 4

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

[*.{xml,csproj}]
indent_size = 2
